/.idea/
/data/MNISTx4Sudoku/numTrain::00001/
/data/MNISTx4Sudoku/numTrain::00002/
/data/MNISTx4Sudoku/numTrain::00005/
/data/MNISTx4Sudoku/numTrain::00010/
/data/MNISTx4Sudoku/numTrain::00020/
/data/MNISTx4Sudoku/numTrain::00030/
/data/MNISTx4Sudoku/numTrain::00040/
/data/MNISTx4Sudoku/numTrain::00050/
/data/MNISTx4Sudoku/numTrain::00100/
